/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Scribble&family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header image styling to make it fit screens */

#header-image {

    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

#hat {
    max-width: 100%;
    height: 5vw;
    position: absolute;
    top: 7.7vw;
    left: 0.5vw;
    transform: rotate(23deg);
}

#logo {
    font-family: 'Rubik Scribble', system-ui;
    color: black;
    position: absolute;
    top: 10vw;
    left: 0;
    font-size: 5vw;

}

.active {
    border-bottom: 3px solid rgb(54, 49, 49);
}

/* General styles */

body {
    background-color: rgb(200, 233, 238);
    color: rgb(54, 49, 49);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.content-background {
    background-color: rgb(244, 241, 241);
    margin-top: -10px;
    padding-top: 1px;
    margin-bottom: 50px;
}

.content-background-about {
    background-color: rgb(244, 241, 241);
    margin-top: -10px;
    padding-top: 1px;
    margin-bottom: 50px;
}

.content-background-poll {
    background-color: rgb(244, 241, 241);
    margin-top: -10px;
    padding-top: 1px;
    margin-bottom: 50px;
}

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#about {
    width: 90%;
    margin: 20px auto;
    display:flex;
    gap:1%;
}

#about-text,
#about-image {
    flex: 1;
}

#about-text {
    border: 1px solid #3a3a3a;
    text-align:center;
}

#about-header {
    margin-bottom: 20px;
    font-size: 280%;
}

#about-image {
    max-width:100%;
    
}

#know {
    width:90%;
    margin:20px auto;
}

#know h2 {
    margin-bottom: 20px;
    margin-top:10px;
    text-align: center;
    font-size: 280%;
}

#know p {
    text-align:center;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
}

#poll {
    text-align:center;
    margin-top:10px;
}

input {
    margin: 7px auto;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(241, 130, 185);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

#updates-text {
    font-size: 70%;
}

#poll-image {
    max-width:100%;
    margin-bottom:20px;
    border-radius:50px;
}

#reasons1>div,
#reasons2>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#special p {
    padding: 0 20px;
}

#special hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url('../images/pool-drink.png') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#reasons-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#socials {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: white;
}

#order {
    font-family: 'Bebas Neue', system-ui;
    position: fixed;
    right: 5px;
    bottom: 65px;
    z-index: 97;
    list-style-type: none;
    text-align: center;
    font-size: 100%;
}

#footer-icon {
    margin-bottom: -10px;
}

@media screen and (max-width:767px) {

    .navigation {
        position: fixed;
        display: flex;
        width: 100%;
        padding-top: 1vw;
        padding-bottom: 1vw;
        justify-content: center;
        text-transform: uppercase;
        gap: 4vw;
        font-size: 4vw;
        font-weight: bold;
        background-color: white;
        z-index: 99;
    }

    .active {
        border-bottom: 2px solid rgb(54, 49, 49);
    }

    #header-image {
        padding-top: 4vw;
    }

    #logo {
        padding-top: 4vw;
    }

    #hat {
        top: 11vw;
    }

    #header-image {
        height: 40vw;
        width: 100%;
    }

    #hat {
        top: 17.8vw;
    }

    #logo {
        top: 16vw;
        font-size: 5.5vw;
    }

    #reasons h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 200%;
    }

    #about-header {
        margin-bottom: 20px;
        margin-top:10px;
        font-size: 200%;
        text-align:center;
    }

    #about {
        display:inline;
    }

    #about hr {
        margin:10px auto;
        width:90%;
    }

    #hr1 {
        display:none;
    }

    #about-image {
        width:95%;
        margin-left:2.5%;
        margin-top:5%;
        border-radius:20px;
    }
}

@media screen and (min-width: 768px) {


    .navigation {
        background-color: white;
        width: 100%;
        height: 4.2vw;
        position: fixed;
        text-transform: uppercase;
        font-size: 3vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        gap: 4vw;
        z-index: 99;
    }

    #reasons1,
    #reasons2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #reasons1>div,
    #reasons2>div {
        width: 75%;
    }

    #reasons2>div {
        text-align: end;
        align-self: flex-end;
    }

    #about-header {
        margin-left:2.3em;
    }

    #about-text {
        font-size:85%;
    }

    #about img {
        height:35vw;
    }

    #poll-image {
        border-radius:80px;
    }

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .navigation a:hover {
        border-bottom: 3px solid black;
    }

    #order {
        font-size: 200%;
        right: 20px;
    }

    #footer-icon {
        width: 50%;
        margin-bottom: -20px;
    }

    #about-header {
        margin-left:3.7em;
        margin-top:10px;
    }

    #about-text,
    #know p {
        font-size:113%;
    }

    #poll-image {
        border-radius:120px;
    }
}

@media screen and (min-width: 1200px) {

    /* Reasons section */
    #special {
        display: flex;
        flex-direction: row;
    }

    #special>div {
        flex: 1;
    }

    #reasons-image {
        order: 0
    }

    #reasons2 {
        order: 1;
    }

    #reasons2>div {
        align-self: flex-start;
    }

    #reasons1>div {
        align-self: flex-end;
    }

    .content-background {
        height: 700px;
    }

    .content-background-about {
        height: 700px;
    }

    .content-background-poll {
        height: 1300px;
    }

    #reasons h2 {
        margin-top: 40px;
        margin-bottom: 80px;
        font-size: 350%;
    }

    #special h3 {
        font-size: 200%;
    }

    #special p {
        font-size: 120%;
    }

    #socials {
        padding-top: 1%;
        padding-bottom: 1%;

    }

    #order {
        margin-bottom: 40px;
    }


    #about-header {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 450%;
        margin-left:3.2em;
    }

    #about-text,
    #know p {
        font-size:158%;
    }

    #know h2 {
        font-size:450%;   
    }

    #know {
        background-color:rgb(244, 241, 241);
        width:100%;
        height:auto;
        padding-top:10px;
        padding-bottom:100px;
    }

    #poll-image {
        border-radius:230px;
    }
}

@media screen and (min-width: 2500px) {
    .content-background {
        height: 1200px;
    }

    .content-background-about {
        height: 1200px;
    }

    .content-background-poll {
        height: 2100px;
    }


    #reasons h2 {
        margin-top: 50px;
        margin-bottom: 80px;
        font-size: 550%;
    }

    #special h3 {
        font-size: 350%;
    }

    #special p {
        font-size: 40px;
    }

    #reasons1>div,
    #reasons2>div {
        line-height: 50px;
        margin-bottom: 50px;
    }

    #circle-cover-bg {
        max-width: 600px;
        max-height: 600px;
    }

    #about-header {
        margin-top: 50px;
        margin-bottom: 80px;
        font-size: 650%;
        margin-left:4.3em;
    }

    #about-text,
    #know p {
        font-size:280%;
    }

    #know-header {
        font-size:650%;   
    }

    #poll-image {
        border-radius:330px;
    }

}