/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Scribble&family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header image styling to make it fit screens */

#header-image {
    
    max-width: 100%;
    height: auto;
}

/* General styles */

body {
    background-color: rgb(200, 233, 238);
    color: rgb(54, 49, 49);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration:none;
    color:inherit;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

#hat {
    max-width: 100%;
    height: 5vw;
    position: absolute;
    top: 7vw;
    left: 0.5vw;
    transform: rotate(23deg);
}

#logo {
    font-family: 'Rubik Scribble', system-ui;
    color: black;
    position: absolute;
    top: 10vw;
    left: 0;
    font-size: 5vw;

}

.navigation {
    background-color:white;
    width:100%;
    height:4.2vw;
    position:fixed;
    text-transform:uppercase;
    font-size:3vw;
    font-weight:bold;
    display:flex;
    justify-content:center;
    gap:4vw;
    z-index:99;
}

.navigation2 {
    position:fixed;
    display:flex;
    width:100%;
    padding-top:1vw;
    padding-bottom:1vw;
    justify-content:center;
    text-transform: uppercase;
    gap:4vw;
    font-size:4vw;
    font-weight:bold;
    background-color:white;
    z-index:99;
}

.active {
    border-bottom:3px solid rgb(54, 49, 49);
}

.active2 {
    border-bottom:2px solid rgb(54, 49, 49);
}

#footer-icon {
    position: fixed;
    right: 15px;
    bottom: 20px;
    z-index:98;
}

#footer-icon-text {
    font-family: 'Bebas Neue', system-ui;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index:97;
}

@media screen and (min-width: 768px) {
    .navigation a:hover {
        border-bottom: 3px solid black;
    }

    .navigation2 {
        display:none;
    }
    
}

@media screen and (max-width:767px) {
    .navigation {
        display:none;
    }

    #header-image {
        padding-top:4vw;
    }

    #logo {
        padding-top:4vw;
    }

    #hat {
        top:11vw;
    }
    
}