/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Scribble&family=Bebas+Neue&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header image styling to make it fit screens */

#header-image {
    
    max-width: 100%;
    height: auto;
}

/* General styles */

body {
    background-color: rgb(200, 233, 238);
    color: rgb(54, 49, 49);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration:none;
    color:inherit;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

#hat {
    max-width: 100%;
    height: 5vw;
    position: absolute;
    top: 7.7vw;
    left: 0.5vw;
    transform: rotate(23deg);
}

#logo {
    font-family: 'Rubik Scribble', system-ui;
    color: black;
    position: absolute;
    top: 10vw;
    left: 0;
    font-size: 5vw;

}





.active {
    border-bottom:3px solid rgb(54, 49, 49);
}


#socials {
    position:fixed; 
    bottom:0; 
    width:100%;
    text-align: center;
    padding: 2px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color:white;
}

#footer-icon {
    position: fixed;
    right: 15px;
    bottom: 85px;
    z-index:98;
}

#footer-icon-text {
    font-family: 'Bebas Neue', system-ui;
    position: fixed;
    right: 0;
    bottom: 65px;
    z-index:97;
}

@media screen and (min-width: 768px) {
    .navigation a:hover {
        border-bottom: 3px solid black;
    }

    .navigation {
        background-color:white;
        width:100%;
        height:4.2vw;
        position:fixed;
        text-transform:uppercase;
        font-size:3vw;
        font-weight:bold;
        display:flex;
        justify-content:center;
        gap:4vw;
        z-index:99;
    }
    
}

@media screen and (max-width:767px) {

    .navigation {
        position:fixed;
        display:flex;
        width:100%;
        padding-top:1vw;
        padding-bottom:1vw;
        justify-content:center;
        text-transform: uppercase;
        gap:4vw;
        font-size:4vw;
        font-weight:bold;
        background-color:white;
        z-index:99;
    }

    .active {
        border-bottom:2px solid rgb(54, 49, 49);
    }

    #header-image {
        padding-top:4vw;
    }

    #logo {
        padding-top:4vw;
    }

    #hat {
        top:11vw;
    }
    
    #header-image {
        height:40vw;
        width:100%;
    }

    #hat {
    top: 17.8vw;
    }

    #logo {
        top: 16vw;
        font-size: 5.5vw;
    }
}